:root {
    --bg-color: #f2ebdc;
    --text-color: #0d0d0d;
    --main-color: #23518C;
    --error-color: #a11129;
    --correcto-color: #1ed12d;
}

/* Menu Laterla */ 

body {
    background-color: var(--bg-color);
}


/* Formulario creacion usuario */

/* Ingresar - Decima Parte - Formulario ingresar */

.formulario {
    text-align: center;
}

.formulario h1 {
    color: var(--main-color);
    padding-bottom: 10px;
    font-size: 40px;
}

.formulario label {
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 10px;
    margin-top: 10px;

}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;

}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 90%;
    border-radius: 3px;
    height: 40px;
    text-align: center;
    border: 3px solid var(--main-color);
    transition: .3 ease all;
}

.formulario__input:focus {
    -webkit-box-shadow: 0px 0px 86px -5px rgba(35,81,140,0.95);
    -moz-box-shadow: 0px 0px 86px -5px rgba(35,81,140,0.95);
    box-shadow: 0px 0px 86px -5px rgba(35,81,140,0.95);
    outline: none;

}

.formulario__input-error {
    font-size: 15px;
    margin-bottom: 0;
    display: none;

}

.formulario__input-error-activo {
    display: block;

}

.formulario__validacion-estado {
    bottom: 5px;
    margin-left: 3px;
    z-index: 100;
    font-size: 20px;
    opacity: 0;

}

.formulario__mensaje {
    color: var(--error-color);
    font-weight: 500;
    margin-top: 10px;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 3px;
    display: none;

}

.formulario__mensaje-activo {
    display: block;

}

.formulario__grupo-btn-enviar {
    align-items: center;
    margin-top: 20px;

}

.formulario__btn {
    height: 35px;
    width: 250px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: bold;
    font-size: 17px;
    border-radius: 3px;
    border: none;

}

.formulario__btn:hover { 
    transform: translateY(-3px);
    animation: ease-in-out;

}

/* Validación - formulario */

.formulario__grupo-correcto .formulario__validacion-estado{
    color: var(--correcto-color);     
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: var(--error-color);
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: var(--error-color);
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid var(--error-color);
}