<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
            <!-- Es un formato de codificacion de caracteres que permite representar cualquier caracter Unicode estandar -->
        
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Optimizar los sitios para para movil. Definiendo el ancho, alto y escala del area usada por el navegador -->
        
        <title> STEL - Inicio </title>
            <!-- Nombre de la pestaña  -->

        <link rel="shortcout icon" href="0. Imagenes/0. Logos/1. logo sin titulo.png">
            <!-- Icono del sitio web -->
        
        <link rel="stylesheet" type="text/css" href="1. CSS/0. Juanes.css">
            <!-- Hoja de Estilo CSS -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
            <!-- Libreria de iconos open source de Font awesome -->


        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
            <!-- Remixicon y Boxicons son bibliotecas de iconos open source que puede ser utilizado en proyectos web -->
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
            <!-- Google fonts nos permite usar caligrafias open source -->

    </head>

    <body>

    <!-- Header -->
        
        <header>

            <a href="index.html" class="logo"><i><img src="0. Imagenes/0. Logos/1. logo sin titulo.png" id="LogoSTEL"></i><span>STEL</span></a>

            <ul class="navbar">

                <li><a href="index.html">Inicio</a></li>
                <li><a href="sobreNosotros.html">Sobre nosotros</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contactenos.html" class="active">Contactenos</a></li>
                
            </ul>

            <div class="main">

                <a href="ingresar.html" class="user"><i class="ri-user-6-line"></i>Ingresar</a>

            <div class="bx bx-menu" id="menu-icon"></div>

            </div>

        </header>

        <BR></BR>
        <BR></BR>
        <BR></BR>
        <BR></BR>
        <BR></BR>

        <!-- Novena Parte - Formulario de contactenos -->

        <h1 class="tituloContactenos">Contactenos <i class="fa-solid fa-message"></i></h1>

        <div class="formularioContactenos">

            <div class="contenedorForContactenos">

                <div class="box">

                    <div class="cuerpoForContactenos">

                        <h1>Formulario</h1><br>
                        <p>Si desea conctarse con nosotros para saber mas de STEL llene el formulario y recibira una respuesta de nuestra parte.</p><br>
                        
                        <form action="" class="Contactenos">

                            <p>Ingresa tu nombre: </p>
                            <label for="fname"></label>
                            <input type="text" id="fname" name="fname" maxlength="40">
                            <p>Ingresa tu apellido: </p>
                            <label for="lname"></label>
                            <input type="text" id="lname" name="lname" maxlength="60">
                            <p>Ingresa tu correo: </p>
                            <label for="correo"></label>
                            <input type="text" id="correo" name="correo" maxlength="60"><br><br><br>
                            <p>Razon por la cual desea contactarnos:</p>
                            <label for="correo"></label>
                            <textarea name="razonContacto" id="razonContacto" cols="30" rows="10" maxlength="700"></textarea>
                            <input type="submit" onclick="return enviarContactenos()" value="Enviar" id="botonEnviar">

                        </form>

                        <div id = errorContactenos> </div>

                    </div>
                
                </div>

                <div class="box">

                    <figure>

                        <img src="0. Imagenes/3. contactenos/0.-imagenForContacetenos.webp" alt="Imagen de Logearse">

                    </figure>

                    <br>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.805038259461!2d-74.2034172241482!3d4.628844642274496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9e09fb7b90c5%3A0x3a8f5f7057dc2a3c!2sCra.%2093d%20%2371%2C%20Bosa%2C%20Bogot%C3%A1%2C%20Cundinamarca!5e0!3m2!1ses!2sco!4v1682635253698!5m2!1ses!2sco" width="94%" height="450px"  allowfullscreen="" aria-hidden="false" tabindex="0" id="mapaContactenos"></iframe>

                </div>

            </div>

        </div>

        <!-- Footer -->

        <BR></BR>
        <BR></BR>
    
        <footer>

           <div class="container">

                <div class="sec aboutus">

                    <h2>Sobre Nosotros</h2>
                    <p>Line es más que un proyecto de grado del SENA. Es una aventura de innovación y creatividad que nació de la pasión y la química de un equipo increíble. Juntos, hemos superado desafíos, aprendido nuevas habilidades y explorado nuevos horizontes. ¡Somos Line y estamos listos para sorprender al mundo!</p>
                    <ul class="sci">
                        <li><a href="https://web.facebook.com/profile.php?id=100092684344485"><i class="fa-brands fa-facebook"></i></a></li>   
                        <li><a href="https://twitter.com/StelLinesw"><i class="fa-brands fa-twitter"></i></a></li>  
                        <li><a href="error404.html"><i class="fa-brands fa-instagram"></i></a></li>  
                        <li><a href="https://www.youtube.com/channel/UCVmFWIOd-M3doOMcZY0QUxA"><i class="fa-brands fa-youtube"></i></a></li>  
                    </ul>

                </div>

                <div class="sec quicklinks">

                    <h2>Soporte</h2>

                    <ul>

                        <li><a href="politicaPrivacidad.html">Politica de privacidad</a></li>
                        <li><a href="contactenos.html">Contactenos</a></li>

                    </ul>

                </div>
                
                <div class="sec quicklinks">

                    <h2>Sitios de Interes</h2>

                    <ul>

                        <li><a href="error500.html">Videollamada</a></li>
                        <li><a href="mapaSitio.html">Mapa del Sitio</a></li>
                        <li><a href="paginasComplementarias.html">Paginas Complementarias</a></li>

                    </ul>


                </div>
                
                <div class="sec contact">

                    <h2>Contactenos</h2>

                    <ul class="info">

                        <li>
                            <span><i class="fa-solid fa-phone"></i></span><p><a href="tel:+27 321 658 9452">+57 321 658 9452</a></p>
                        </li>

                        <li>
                            <span><i class="fa-solid fa-envelopes-bulk"></i></span><p><a href="mailto: stellinesw@gmail.com">stellinesw@gmail.com</a></p>
                        </li>

                    </ul>

                </div>

           </div>

        </footer>

        <div class="copyrightText">

            <p>© 2023 Line Software - Todos los Derechos reservados.</p>

        </div>

        <script type="text/javascript" src="2. JavaScript/0. Juanes.js"></script>
            <!-- Java Script Link-->

    </body>


</html>


