<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
            <!-- Es un formato de codificacion de caracteres que permite representar cualquier caracter Unicode estandar -->
        
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Optimizar los sitios para para movil. Definiendo el ancho, alto y escala del area usada por el navegador -->
        
        <title>Error 505</title>
            <!-- Nombre de la pestaña  -->

        <link rel="shortcout icon" href="0. Imagenes/0. Logos/1. logo sin titulo.png">
            <!-- Icono del sitio web -->
        
        <link rel="stylesheet" type="text/css" href="1. CSS/0. Juanes.css">
            <!-- Hoja de Estilo CSS -->
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
            <!-- Google fonts nos permite usar caligrafias open source -->

    </head>
    
    <body>
        
        <div class="containerError404"> 

            <img src="0. Imagenes/9. error404/DALL·E 2023-06-13 16.15.24 - servidor con los cables cortados. Arte digital pixelar 3d.png" alt="" id="hombreConstruyendo404">
            <h1>ERROR 500</h1>
            <p>Problema de conexion con el servidor</p>
            <a href="index.html">Volver al inicio</a>

        </div>

    </body>

</html>