<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
            <!-- Es un formato de codificacion de caracteres que permite representar cualquier caracter Unicode estandar -->
        
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Optimizar los sitios para para movil. Definiendo el ancho, alto y escala del area usada por el navegador -->
        
        <title> STEL - Inicio </title>
            <!-- Nombre de la pestaña  -->

        <link rel="shortcout icon" href="0. Imagenes/0. Logos/1. logo sin titulo.png">
            <!-- Icono del sitio web -->
        
        <link rel="stylesheet" type="text/css" href="1. CSS/0. Juanes.css">
            <!-- Hoja de Estilo CSS -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
            <!-- Libreria de iconos open source de Font awesome -->


        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
            <!-- Remixicon y Boxicons son bibliotecas de iconos open source que puede ser utilizado en proyectos web -->
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
            <!-- Google fonts nos permite usar caligrafias open source -->

    </head>

    <!-- Header -->
        
    <header>

        <a href="index.html" class="logo"><i><img src="0. Imagenes/0. Logos/1. logo sin titulo.png" id="LogoSTEL"></i><span>STEL</span></a>

        <ul class="navbar">

            <li><a href="index.html">Inicio</a></li>
            <li><a href="sobreNosotros.html">Sobre nosotros</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="contactenos.html">Contactenos</a></li>
            
        </ul>

        <div class="main">

            <a href="ingresar.html" class="user" style="color: #23518C"><i class="ri-user-6-line"></i>Ingresar</a>

            <div class="bx bx-menu" id="menu-icon"></div>

        </div>

    </header>

    <BR></BR>
    <BR></BR>
    <BR></BR>
    <BR></BR>
    <BR></BR>

        
        
        <div class="main_formulario_olvido_contraseña">

            <div class="cuerpo_formulario_olvido_contraseña">

                <div class="titulo_formulario_olvido_contraseña">

                    <h1>¿olvido su contraseña? <i class="fa-sharp fa-solid fa-key-skeleton"></i></h1>
                    <p>Ingrese el correo con el cual esta registrado a STEL</p>

                </div>

                <div class="formulario_olvido_contraseña">

                    <center>

                    <form action="" class="campos_formulario_olvido_contraseña">

                        <label for="IngName"><i class="fa-solid fa-user"></i></label>
                        <input type="text" id="IngName" name="IngName" maxlength="60"><br>

                         
                         <button type="submit" value="Enviar"></button>

                    </form>

                    </center>


                </div>

            </div>

        </div>


        <script type="text/javascript" src="2. JavaScript/0. Juanes.js"></script>
            <!-- Java Script Link-->

        <!-- Footer -->

        <BR></BR>
        <BR></BR>
    
        <footer>

           <div class="container">

                <div class="sec aboutus">

                    <h2>Sobre Nosotros</h2>
                    <p>Line es más que un proyecto de grado del SENA. Es una aventura de innovación y creatividad que nació de la pasión y la química de un equipo increíble. Juntos, hemos superado desafíos, aprendido nuevas habilidades y explorado nuevos horizontes. ¡Somos Line y estamos listos para sorprender al mundo!</p>
                    <ul class="sci">
                        <li><a href="https://web.facebook.com/profile.php?id=100092684344485"><i class="fa-brands fa-facebook"></i></a></li>   
                        <li><a href="https://twitter.com/StelLinesw"><i class="fa-brands fa-twitter"></i></a></li>  
                        <li><a href="error404.html"><i class="fa-brands fa-instagram"></i></a></li>  
                        <li><a href="https://www.youtube.com/channel/UCVmFWIOd-M3doOMcZY0QUxA"><i class="fa-brands fa-youtube"></i></a></li>  
                    </ul>

                </div>

                <div class="sec quicklinks">

                    <h2>Soporte</h2>

                    <ul>

                        <li><a href="politicaPrivacidad.html">Politica de privacidad</a></li>
                        <li><a href="contactenos.html">Contactenos</a></li>

                    </ul>

                </div>
                
                <div class="sec quicklinks">

                    <h2>Sitios de Interes</h2>

                    <ul>

                        <li><a href="mapaSitio.html">Mapa del Sitio</a></li>
                        <li><a href="paginasComplementarias.html">Paginas Complementarias</a></li>

                    </ul>


                </div>
                
                <div class="sec contact">

                    <h2>Contactenos</h2>

                    <ul class="info">

                        <li>
                            <span><i class="fa-solid fa-phone"></i></span><p><a href="tel:+27 321 658 9452">+57 321 658 9452</a></p>
                        </li>

                        <li>
                            <span><i class="fa-solid fa-envelopes-bulk"></i></span><p><a href="mailto: stellinesw@gmail.com">stellinesw@gmail.com</a></p>
                        </li>

                    </ul>

                </div>

           </div>

        </footer>

        <div class="copyrightText">

            <p>© 2023 Line Software - Todos los Derechos reservados.</p>

        </div>

        <script type="text/javascript" src="2. JavaScript/0. Juanes.js"></script>
            <!-- Java Script Link-->

    </body>


</html>

    </body>


</html>