<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
            <!-- Es un formato de codificacion de caracteres que permite representar cualquier caracter Unicode estandar -->
        
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Optimizar los sitios para para movil. Definiendo el ancho, alto y escala del area usada por el navegador -->
        
        <title> STEL - Inicio </title>
            <!-- Nombre de la pestaña  -->

        <link rel="shortcout icon" href="0. Imagenes/0. Logos/1. logo sin titulo.png">
            <!-- Icono del sitio web -->
        
        <link rel="stylesheet" type="text/css" href="1. CSS/0. Juanes.css">
            <!-- Hoja de Estilo CSS -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
            <!-- Libreria de iconos open source de Font awesome -->


        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
            <!-- Remixicon y Boxicons son bibliotecas de iconos open source que puede ser utilizado en proyectos web -->
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
            <!-- Google fonts nos permite usar caligrafias open source -->

    </head>

    <body>

    <!-- Politicas de Privacidad - Undecima Parte -->

    <div class="politicaPrivacidad_main">

        <div class="contenedor_PoliticaPrivacidad">

            <div class="box">

                <div class="explicacion_PoliticaPrivacidad">

                    <h1>Politica de Privacidad</h1>
                    <p>La privacidad es un derecho fundamental y en STEL lo tamamos muy en serio. Por eso, queremos informarte sobre como recopilamos, usamos y protegemos tus datos personales. En esta pagina encontrara todo la información necesaria sobre nuestra politica de privacidad. </p>
                    <a href="https://www.sic.gov.co/informacion-sobre-la-proteccion-de-datos-personales#:~:text=La%20Ley%20de%20Protecci%C3%B3n%20de%20Datos%20Personales%20reconoce,tratamiento%20por%20entidades%20de%20naturaleza%20p%C3%BAblica%20o%20privada." target="_blank">Conoce mas</a>

                </div>
            
            </div>

            <div class="box">

                <figure>

                    <img src="0. Imagenes/8. politicaPrivacidad/0. candadoSeguridad.webp" alt="Personas en un parque con perros">

                </figure>

            </div>

        </div>

    </div>


    <!-- Politica de Privacidad - Doceava parte -->

    <div class="politicaPrivacidad_Explicacion_main">

        <div class="contenedor_PoliticaPrivacidad_Explicacion">

            <div class="box">

                <div class="explicacion_PoliticaPrivacidad_Explicacion">

                    <h1>Responsable del tratamiento de los datos</h1>
                    <p>En STEL, somos los responsables del tratamiento de los datos personales que nos proporcionas. Nos tomamos muy en serio la privacidad y seguridad de tus datos y nos aseguramos de cumplir con las leyes y regulaciones aplicables.</p>
                    <a href="sobreNosotros.html" target="_blank">Sobre Nosotros</a>

                </div>
            
            </div>

            <div class="box">

                <div class="explicacion_PoliticaPrivacidad_Explicacion">

                    <h1>Finalidad del tratamiento de los datos</h1>
                    <p>En STEL usaremos sus datos para mejorar y agilizar la gestión del conjunto residencial, brindando herramientas tanto al trabajador como al residente, para mejorar su experiencia y compromiso con el conjunto residencial.</p>
                    <a href="servicios.html" target="_blank">Nuestros servicios</a>

                </div>
            
            </div>

            <div class="box">

                <div class="explicacion_PoliticaPrivacidad_Explicacion">

                    <h1>Acciones del usuario sobre el tratamineto de sus datos</h1>
                    <p>Si deseas conocer mas sobre el tratamiento de tus datos personales, puedes contactarnos a traves de nuestro correo electronico o numero telefonocio. Tambien puedes dar clic en el boton que dice "Conoce mas" y contactanos desde el formulario.</p>
                    <a href="contactenos.html" target="_blank">Contactenos</a>

                </div>
            
            </div>

        </div>

    </div>



    <!-- Header -->
        
        <header>

            <a href="index.html" class="logo"><i><img src="0. Imagenes/0. Logos/1. logo sin titulo.png" id="LogoSTEL"></i><span>STEL</span></a>

            <ul class="navbar">

                <li><a href="index.html">Inicio</a></li>
                <li><a href="sobreNosotros.html">Sobre nosotros</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contactenos.html">Contactenos</a></li>
                
            </ul>

            <div class="main">

                <a href="ingresar.html" class="user"><i class="ri-user-6-line"></i>Ingresar</a>

                <div class="bx bx-menu" id="menu-icon"></div>

            </div>

        </header>


        <!-- Footer -->

        <BR></BR>
        <BR></BR>
    
        <footer>

           <div class="container">

                <div class="sec aboutus">

                    <h2>Sobre Nosotros</h2>
                    <p>Line es más que un proyecto de grado del SENA. Es una aventura de innovación y creatividad que nació de la pasión y la química de un equipo increíble. Juntos, hemos superado desafíos, aprendido nuevas habilidades y explorado nuevos horizontes. ¡Somos Line y estamos listos para sorprender al mundo!</p>
                    <ul class="sci">
                        <li><a href="https://web.facebook.com/profile.php?id=100092684344485"><i class="fa-brands fa-facebook"></i></a></li>   
                        <li><a href="https://twitter.com/StelLinesw"><i class="fa-brands fa-twitter"></i></a></li>  
                        <li><a href="error404.html"><i class="fa-brands fa-instagram"></i></a></li>  
                        <li><a href="https://www.youtube.com/channel/UCVmFWIOd-M3doOMcZY0QUxA"><i class="fa-brands fa-youtube"></i></a></li>  
                    </ul>

                </div>

                <div class="sec quicklinks">

                    <h2>Soporte</h2>

                    <ul>

                        <li><a href="politicaPrivacidad.html">Politica de privacidad</a></li>
                        <li><a href="contactenos.html">Contactenos</a></li>

                    </ul>

                </div>
                
                <div class="sec quicklinks">

                    <h2>Sitios de Interes</h2>

                    <ul>

                        <li><a href="error505.html">Videollamada</a></li>
                        <li><a href="mapaSitio.html">Mapa del Sitio</a></li>
                        <li><a href="paginasComplementarias.html">Paginas Complementarias</a></li>

                    </ul>


                </div>
                
                <div class="sec contact">

                    <h2>Contactenos</h2>

                    <ul class="info">

                        <li>
                            <span><i class="fa-solid fa-phone"></i></span><p><a href="tel:+27 321 658 9452">+57 321 658 9452</a></p>
                        </li>

                        <li>
                            <span><i class="fa-solid fa-envelopes-bulk"></i></span><p><a href="mailto: stellinesw@gmail.com">stellinesw@gmail.com</a></p>
                        </li>

                    </ul>

                </div>

           </div>

        </footer>

        <div class="copyrightText">

            <p>© 2023 Line Software - Todos los Derechos reservados.</p>

        </div>

        <script type="text/javascript" src="2. JavaScript/0. Juanes.js"></script>
            <!-- Java Script Link-->

    </body>


</html>