<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
            <!-- Es un formato de codificacion de caracteres que permite representar cualquier caracter Unicode estandar -->
        
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Optimizar los sitios para para movil. Definiendo el ancho, alto y escala del area usada por el navegador -->
        
        <title> STEL - Inicio </title>
            <!-- Nombre de la pestaña  -->

        <link rel="shortcout icon" href="0. Imagenes/0. Logos/1. logo sin titulo.png">
            <!-- Icono del sitio web -->
        
        <link rel="stylesheet" type="text/css" href="1. CSS/0. Juanes.css">
            <!-- Hoja de Estilo CSS -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
            <!-- Libreria de iconos open source de Font awesome -->


        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
            <!-- Remixicon y Boxicons son bibliotecas de iconos open source que puede ser utilizado en proyectos web -->
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
            <!-- Google fonts nos permite usar caligrafias open source -->

    </head>

    <body>

        <!-- Header -->
        
        <header>

            <a href="index.html" class="logo"><i><img src="0. Imagenes/0. Logos/1. logo sin titulo.png" id="LogoSTEL"></i><span>STEL</span></a>

            <ul class="navbar">

                <li><a href="index.html">Inicio</a></li>
                <li><a href="sobreNosotros.html">Sobre nosotros</a></li>
                <li><a href="servicios.html" class="active">Servicios</a></li>
                <li><a href="contactenos.html">Contactenos</a></li>
                
            </ul>

            <div class="main">

                <a href="ingresar.html" class="user"><i class="ri-user-6-line"></i>Ingresar</a>

                <div class="bx bx-menu" id="menu-icon"></div>

            </div>

        </header>

        <BR></BR>
        <BR></BR>
        <BR></BR>
        <BR></BR>
        <BR></BR>

        <!-- Septima Parte - Explicación de la División del Sistema -->

        <h1 id="tituloServicios"> Servicios <i class="fa-solid fa-clipboard"></i></h1>

        <main>

            <div class="serviciosContainerCardGiratoria">

                <div class="serviciosCardGiratoriaPadre">

                    <div class="serviciosCard">

                        <div class="serviciosCardFront" style="background-image: url(0.imagenes-2/0.tarjetasModulos/0.serviciosGestionAdministración.webp);">

                            <div class="serviciosCardFrontSombra"></div>

                            <div class="serviciosBodyCardFront">

                            

                            </div>

                        </div>

                        <div class="serviciosCardBack">

                            <div class="serviciosBodyCardBack">

                                <h1>Administración</h1>
                                <p>Nos enfocamos en ayudar a la administración en la gestión de la documentación relevante para el residente, multas, cartera de morosos y mejoramos la toma de decisiones mediante BI (Business Intelligence) </p>
                                <a href="#serviciosGestionAdministracion"><input type="input" value="Conoce más"></a>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="serviciosCardGiratoriaPadre">

                    <div class="serviciosCard">

                        <div class="serviciosCardFront" style="background-image: url(0.imagenes-2/0.tarjetasModulos/1.serviciosGestionAlquiler.webp);">

                            <div class="serviciosCardFrontSombra"></div>

                            <div class="serviciosBodyCardFront">

                            

                            </div>

                        </div>

                        <div class="serviciosCardBack">

                            <div class="serviciosBodyCardBack">

                                <h1>Alquiler Parqueaderos</h1>
                                <p>Nos enfocamos en ayudar tanto a los residentes como a los administradores en la gestión de los parqueaderos. Con nuestro servicio, disminuimos el tiempo de respuesta y realización de solicitudes, facilitando la documentación y recolección de información necesaria. ¡Estamos aquí para ayudarte!</p>
                                <a href="#serviciosGestionAlquiler"><input type="input" value="Conoce más"></a>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="serviciosCardGiratoriaPadre" >

                    <div class="serviciosCard">

                        <div class="serviciosCardFront" style="background-image: url(0.imagenes-2/0.tarjetasModulos/2.serviciosGestiondeComunicación.webp);">

                            <div class="serviciosCardFrontSombra"></div>

                            <div class="serviciosBodyCardFront">

                            

                            </div>

                        </div>

                        <div class="serviciosCardBack">

                            <div class="serviciosBodyCardBack">

                                <h1>Comunicación</h1>
                                <p>Nos enfocamos en ayudar a los residentes a estar al tanto de su correspondencia y paquetes. Además, brindamos a la administración y vigilancia el poder de crear notificaciones que ayuden a la comunicación masiva de la información.</p>
                                <a href="#serviciosComunicacion"><input type="input" value="Conoce más"></a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </main>

        <!-- Octava Parte - Descripción de lo que se hace -->

        <p id="serviciosGestionAdministracion"></p>
        <BR></BR>
        <BR></BR>
        <BR></BR>
        

        <div class="llamadoAcccion">

            <div class="contenedorLlamadoAccion">

                <div class="box">

                    <div class="textoLlamadoAccion">

                        <h1>ADMINISTRACIÓN</h1>
                        <p>El residente podra consultar la documentación de relevancia, como actas de asamble, estados contables, polizas de seguro, etc. Esto lo hacemos con el objetivo de que el residete tenga mayor conocimiento del conjunto y su estado. </p>

                    </div>
                
                </div>

                <div class="box">

                    <figure>

                        <img src="0. Imagenes/4. servicios/0. explicacionModulos/serviciosGestionAdministracion.webp" alt="Personas en un parque con perros">

                    </figure>

                </div>

            </div>

        </div>

        <p id="serviciosGestionAlquiler"></p>
        <BR></BR>
        <BR></BR>
        <BR></BR>

        <div class="llamadoAcccion" id="serviciosGestionAlquiler">

            <div class="contenedorLlamadoAccion">

                <div class="box">

                    <div class="textoLlamadoAccion">

                        <h1>ALQUILER PARQUEADEROS</h1>
                        <p>Ahora el residente podra realizar la solicitud de un cupo de parquedero sin necesidad de perder tiempo imprimiendo la documentación, llenando formularios largos y sin saber en que momento habra nuevamente un cupo. Nuestro software se encargara de comunicar cuando habra un cupo disponible, de si este fue aprobado o no. Tambien ayudaremos a los guardas de seguridad en garantizar un buen uso del parqueadero, brindando herramientas para registrar el ingreso y salidad de los vehiculos dentro del conjunto residenical. </p>

                    </div>
                
                </div>

                <div class="box">

                    <figure>

                        <img src="0. Imagenes/4. servicios/0. explicacionModulos/serviciosGestionAlquilerParqueadero.webp" alt="Personas en un parque con perros">

                    </figure>

                </div>

            </div>

        </div>

        <p id="serviciosComunicacion"></p>
        <BR></BR>
        <BR></BR>
        <BR></BR>

        <div class="llamadoAcccion" id="serviciosComunicacion">

            <div class="contenedorLlamadoAccion">

                <div class="box">

                    <div class="textoLlamadoAccion">

                        <h1>COMUNICACIÓN</h1>
                        <p>En el siglo XXI la comunicación es uno de los factores mas imporantes en el desarrollo humano, por lo cual es imporante para nostros crear un sistema el cual permita al vigilante, residente y adminsitrador comunicarse en base a las necesidades del mismo. Ejemplo, el agua la cortaran de imprevisto, el vigilante ya tendra que caminar a cada casa informando el corte del agua, directamente entrara a STEL, realizara el comunicado y todos dentro del conjunto recibiran la notificacion del suceso.</p>

                    </div>
                
                </div>

                <div class="box">

                    <figure>

                        <img src="0. Imagenes/4. servicios/0. explicacionModulos/serviciosGestionComunicación.webp" alt="Personas en un parque con perros">

                    </figure>

                </div>

            </div>

        </div>

        <!-- Footer -->

        <BR></BR>
        <BR></BR>
            
        <footer>

            <div class="container">
 
                <div class="sec aboutus">
 
                    <h2>Sobre Nosotros</h2>
                    <p>Line es más que un proyecto de grado del SENA. Es una aventura de innovación y creatividad que nació de la pasión y la química de un equipo increíble. Juntos, hemos superado desafíos, aprendido nuevas habilidades y explorado nuevos horizontes. ¡Somos Line y estamos listos para sorprender al mundo!</p>
                    <ul class="sci">
                         <li><a href="https://web.facebook.com/profile.php?id=100092684344485"><i class="fa-brands fa-facebook"></i></a></li>   
                         <li><a href="https://twitter.com/StelLinesw"><i class="fa-brands fa-twitter"></i></a></li>  
                         <li><a href="error404.html"><i class="fa-brands fa-instagram"></i></a></li>  
                         <li><a href="https://www.youtube.com/channel/UCVmFWIOd-M3doOMcZY0QUxA"><i class="fa-brands fa-youtube"></i></a></li>  
                    </ul>
 
                </div>
 
                <div class="sec quicklinks">
 
                    <h2>Soporte</h2>
 
                    <ul>
 
                        <li><a href="politicaPrivacidad.html">Politica de privacidad</a></li>
                        <li><a href="ayuda.html">Ayuda</a></li>
                        <li><a href="contactenos.html">Contactenos</a></li>
 
                    </ul>
 
                </div>
                 
                <div class="sec quicklinks">
 
                    <h2>Sitios de Interes</h2>
 
                    <ul>
 
                        <li><a href="mapaSitio.html">Mapa del Sitio</a></li>
                        <li><a href="paginasComplementarias.html">Paginas Complementarias</a></li>
 
                    </ul>
 
 
                </div>
                 
                <div class="sec contact">
 
                    <h2>Contactenos</h2>
 
                    <ul class="info">
 
                        <li>
                             <span><i class="fa-solid fa-phone"></i></span><p><a href="tel:+27 321 658 9452">+57 321 658 9452</a></p>
                        </li>
 
                        <li>
                             <span><i class="fa-solid fa-envelopes-bulk"></i></span><p><a href="mailto: stellinesw@gmail.com">stellinesw@gmail.com</a></p>
                        </li>
 
                    </ul>
 
                </div>
 
            </div>
 
        </footer>
 
        <div class="copyrightText">
 
            <p>© 2023 Line Software - Todos los Derechos reservados.</p>
 
        </div>
 
        <script type="text/javascript" src="2. JavaScript/0. Juanes.js"></script>
             <!-- Java Script Link-->
 
     </body>
 
 
 </html>